@font-face {
  font-family: "Titillium-Semibold";
  src: url("../fonts/Titillium-Semibold.otf");
}
@font-face {
  font-family: "Titillium-Bold";
  src: url("../fonts/Titillium-Bold.otf");
}
@font-face {
  font-family: "Titillium-LightUpright";
  src: url("../fonts/Titillium-LightUpright.otf");
}
@import url("http://fonts.googleapis.com/css?family=Raleway");
#abc {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto;
}
img#close {
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer;
}
div#popupContact {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
  font-family: 'Raleway', sans-serif;
}
form {
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid #808080;
  border-radius: 10px;
  font-family: raleway;
  background-color: #fff;
}
p {
  margin-top: 30px;
}
h2 {
  padding: 20px 35px;
  margin: -10px -50px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc;
}
input[type=text] {
  width: 82%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway;
}
#name {
  background-image: url("../images/name.jpg");
  background-repeat: no-repeat;
  background-position: 5px 7px;
}
#email {
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-position: 5px 7px;
}
textarea {
  background-image: url("../images/msg.png");
  background-repeat: no-repeat;
  background-position: 5px 7px;
  width: 82%;
  height: 95px;
  padding: 10px;
  resize: none;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway;
  margin-bottom: 30px;
}
#submit {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #479bf1;
  color: #fff;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
span {
  color: #f00;
  font-weight: bold;
}
button {
  width: 10%;
  height: 45px;
  border-radius: 3px;
  background-color: #cd853f;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  cursor: pointer;
}
img#fugo {
  margin-left: 70%;
}
body {
  font-sise: 10px;
}
h1,
h3 {
  margin: 0;
  font-family: "Titillium-Semibold";
  color: #fff;
}
h2 {
  color: #5d5d5d;
  text-align: left;
  margin: 0;
}
p {
  font-family: "Titillium-Semibold";
  color: #fff;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: #000;
}
nav {
  position: fixed;
  width: 100%;
}
ul {
  text-align: center;
  background: #fff;
  opacity: 0.6;
}
li {
  display: inline-block;
  text-align: center;
  color: #5d5d5d;
  font-family: "Titillium-Semibold";
}
figure {
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
}
figcaption {
  text-align: center;
  color: #5d5d5d;
  font-family: "Titillium-Semibold";
  margin-top: -4em;
}
footer {
  text-align: center;
}
footer figure img {
  width: 12em;
  display: inline-block;
}
#main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.containertext {
  margin-left: 10%;
  padding-top: 15%;
  width: 22em;
  display: inline-block;
  vertical-align: top;
}
#land1,
#land2,
#land3,
#land4 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
}
#land1 {
  background: url("../img/bg-21.jpg");
}
.bajar {
  position: fixed;
  top: 90%;
  left: 50%;
  color: #5d5d5d;
}
#scrollUp {
  top: 550px;
  background: #479bf1;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
  -wap-border-radius: 4%;
  -webkit-border-radius: 4%;
  border-radius: 4%;
}
#land1 p {
  width: 17em;
}
.land2 {
  background: #fff;
}
#land2 h2 {
  color: #5d5d5d;
  text-align: center !important;
  margin-top: 2em;
}
#container-phone {
  text-align: center;
}
.phone {
  display: inline-block;
}
#land3 {
  background: url("../img/bg-2.jpg");
}
#land3 p {
  width: 18em;
}
#land4 {
  background: url("../img/bg-3.jpg");
  text-align: center;
}
.phone {
  display: inline-block;
}
.phone-server {
  display: inline-block;
}
#land4 h2 {
  width: 10em;
  display: inline-block;
}
#land4 figure {
  display: inline-block;
  width: 14em;
}
#land5 {
  background-size: 100%;
  width: 100%;
  height: 42.6em;
  text-align: center;
}
section #land5 #filosofia {
  width: 70%;
  display: inline-block;
}
.apoyo {
  width: 10em;
  display: inline-block;
}
#tecnoparque {
  width: 20%;
}
#filosofia-mobil {
  display: none;
}
@media screen and (max-width: 640px) {
  body {
    background: #f00;
  }
  section #land5 #filosofia {
    display: none;
  }
  #filosofia-mobil {
    display: inline-block;
    width: 70%;
  }
}
